.date-picker-container{
    text-align: center;
}
.spinner-grow{
    margin-top: 20px;
    top: auto;
}
.historic-graph-container{
    text-align: center;
}
.historic-grand-container{
    background-color: #EDECE8;
    height: 93vh;
}
.dateButton{
    
    max-width: 7em;
}